// Import modules
@use '../abstracts/variables' as v;

.article {
  font-family: 'Barlow Condensed';

  &__new {
    margin-bottom: 2rem;
    letter-spacing: 0.4rem;
  }

  &__new,
  &__heading {
    text-transform: uppercase;
  }

  &__new-label {
    margin-right: 0.3rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: v.$white;
    letter-spacing: 0.1rem;
    background-color: v.$very-dark-blue;
    border-radius: 2rem;
  }

  &__heading {
    margin-bottom: 2rem;
    font-size: 4rem;
    line-height: 1;
  }

  &__text {
    margin-bottom: 2rem;
    padding-right: 4rem;
    font-size: 2.2rem;

    &--preview {
      width: 50%;
      color: v.$grayish-blue;
      text-transform: uppercase;
      text-align: center;
      line-height: 4.133rem; // height of container
      letter-spacing: 1px;
    }
  }
}
