// Import modules
@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {
  font-family: 'Barlow Condensed';
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;

  &:focus-visible {
    outline-color: v.$very-dark-blue;
  }

  &__primary {
    padding: 1.2rem;
    color: v.$light-grayish-blue;
    background-color: v.$red;
    border-radius: 6px;
    border: none;
    width: 100%;

    @include m.breakpoint-sm {
      width: 50%;
    }

    @include m.breakpoint-lg {
      margin-bottom: 10rem;
      width: initial;
    }
  }
}
