.illustration {
  &__devices-img {
    display: none;
    margin-bottom: 6rem;
  }
}

.js {
  .illustration {
    overflow-x: hidden;

    &__devices-img {
      position: relative;
      left: 1rem;
      display: block;
      width: 50rem;
      max-width: initial;
    }
  }
}
