// Import modules
@use '../abstracts/mixins' as m;

.illustration {
  &.devices {
    width: 100%;
    height: 18rem;
    background-position-x: center;
    background-size: 80%;
    background-image: url('../img/illustration-devices.svg');
    background-repeat: no-repeat;

    @include m.breakpoint-sm {
      margin-bottom: 5rem;
      height: 30rem;
      background-position: 1rem;
      background-size: 135%;
    }

    @include m.breakpoint-md {
      background-position: center;
      background-size: contain;
    }

    @include m.breakpoint-lg {
      position: absolute;
      top: 17rem;
      right: 0;
      width: 70rem;
      height: 50rem;
      background-position: right -21rem top 1rem;
      background-size: 75rem;
    }

    @include m.breakpoint-xl {
      top: 14rem;
      background-position: right -27rem center;
      background-size: 95rem;
    }
  }
}
