// Import modules
@use '../abstracts/mixins' as m;

.logo {
  margin-left: -0.6rem; // fix alignment of logo to left (due to place-content)
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @include m.breakpoint-md {
    display: flex;
    align-items: center;
  }
}
