// Import variables
@use '../abstracts/variables' as v;

// Import mixins
@use '../abstracts/mixins' as m;

@use './typography' as t;

/* Set core root defaults */
html {
  font-size: 10px;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

/* Set core body defaults */
body {
  min-height: 100vh;
  max-width: 115rem;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-rendering: optimizeSpeed;
  font-family: 'Manrope', sans-serif;
  font-size: t.$body-copy-font-size;
  line-height: 1.5;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 50vw;
    height: 38rem;
    background-color: v.$light-grayish-blue;
    border-bottom-left-radius: 7rem;
    z-index: -1;

    @include m.breakpoint-lg {
      width: 48vw;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

a,
button {
  &:focus-visible {
    outline-color: v.$very-dark-blue;
    outline-offset: 0.5rem;
  }
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Disable all animations, transitions and smooth scroll for people that prefer not to see them*/
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.js {
  body::after {
    height: 27rem;

    @include m.breakpoint-sm {
      height: 43rem;
    }
  }
}

// TODO create new SCSS file for utility class
.mr-3-lg {
  @include m.breakpoint-lg {
    margin-right: 3rem;
  }
}
