/*------------------------------------------------------------------
[Table of contents]
    1. Colors
        1.1 Primary
        1.2 Neutral
        1.3 Black and white
        1.4 Navigation
        1.5 Article
        1.6 Buttons
        1.7 Footer
            1.7.1 States
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
1. Colors
    1.1 Primary
*/

$red:                   hsl(0, 100%, 68%);

/*------------------------------------------------------------------
1. Colors
    1.2 Neutral
*/

$very-dark-blue:        hsl(230, 29%, 20%);
$dark-grayish-blue:     hsl(230, 11%, 40%);
$grayish-blue:          hsl(231, 7%, 65%);
$light-grayish-blue:    hsl(207, 33%, 95%);

/*------------------------------------------------------------------
1. Colors
    1.3 Black and white
*/

$black:                 hsl(0, 0%, 0%);
$white:                 hsl(0, 0%, 100%);

/*------------------------------------------------------------------
1. Colors
    1.4 Navigation
*/

$navbar-nav-background-color:               $white;
$navbar-nav-box-shadow-color:               hsla(229, 11%, 40%, 0.2);
$navbar-nav-link-text-color:                $very-dark-blue;
$navbar-nav-link-login-text-color:          $grayish-blue;
$navbar-nav-divider-border-color:           hsl(231, 7%, 65%);

// States
$navbar-nav-link-focus-visible-outline-color: $very-dark-blue;

/*------------------------------------------------------------------
1. Colors
    1.5 Article
*/

$article-new-text-color:               $grayish-blue;
$article-new-label-text-color:         $white;
$article-new-label-background-color:   $very-dark-blue;
$article-text-color:                   $dark-grayish-blue;
$article-preview-text-color:           $grayish-blue;

/*------------------------------------------------------------------
1. Colors
    1.6 Buttons
*/

$button-outline-color-focus-visible:    $very-dark-blue;

// Button primary
$button-primary-text-color:             $light-grayish-blue;
$button-primary-background-color:       $red;
$button-primary-text-color-hover:       $white;

/*------------------------------------------------------------------
1. Colors
    1.7 Footer
        1.7.1 States
*/

$footer-link-text-color-visited:        hsl(300, 100%, 25%);
$footer-link-text-color-hover:          $red;
$footer-link-text-color-active:         hsl(0, 98%, 51%);