@use '../abstracts/variables' as v;

.footer {
  padding: 0 1.28rem 1.28rem;
  font-family: 'Barlow', sans-serif;
  font-size: 1.2rem;
  text-align: center;

  &__link {
    &:visited {
      color: v.$footer-link-text-color-visited;
    }

    &:hover {
      color: v.$footer-link-text-color-hover;
    }

    &:active {
      color: v.$footer-link-text-color-active;
    }

    &:focus-visible {
      border-radius: 0.1rem;
    }
  }
}

// .noscript {
//   padding: 2rem 1rem;
//   font-size: 2rem;
//   color: v.$light-cyan;
//   text-align: center;
//   border-bottom: 1px solid;

//   @include m.breakpoint-md() {
//     padding: 2rem 0;
//   }
// }
