.footer {
  padding: 0 1.28rem 1.28rem;
  font-family: 'Manrope', sans-serif;
  font-size: 1.2rem;
  text-align: center;

  // &__link {
  //   &:hover {
  //   }

  //   &:focus-visible {
  //     border-radius: 1px;
  //   }
  // }
}

// .noscript {
//   padding: 2rem 1rem;
//   font-size: 2rem;
//   color: v.$light-cyan;
//   text-align: center;
//   border-bottom: 1px solid;

//   @include m.breakpoint-md() {
//     padding: 2rem 0;
//   }
// }
