// Import modules
@use '../abstracts/mixins' as m;

.header {
  margin: 3rem 3rem 5rem;

  @include m.breakpoint-md {
    margin: 5rem 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15rem;
  }

  @include m.breakpoint-lg {
    margin-bottom: 10rem;
  }
}

.js {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include m.breakpoint-sm {
      margin: 3rem;
    }

    @include m.breakpoint-md {
      margin: 5rem 6rem;
    }

    @include m.breakpoint-lg {
      margin-bottom: 10rem;
    }
  }
}
