// Import modules
@use '../abstracts/mixins' as m;

.header {
  margin: 3rem 3rem 5rem;
}

.js {
  .header {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include m.breakpoint-sm {
      margin: 3rem;
    }

    @include m.breakpoint-lg {
      margin: 5rem 6rem;
    }

    @include m.breakpoint-xl {
      margin-bottom: 15rem;
    }
  }
}
